.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
  color: #222222;
}
.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;

}
.heading {
  color: #222222;
  font-family: 'Courier new', monospace;
  display: inline-block;
  font-size: 1.6rem;
  margin-top: .75em;
}
.heading-image {
  background-image: url("../images/figclips-logo-light.svg");
  background-size: 60px;
  width: 60px;
  height: 60px;
  display: inline-block;
}
.main {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.site-title {
    font-size: 2.5rem;
    font-weight: 600;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}